:root {
  --main: #222430;/* #282a36 */
  --main-fade: #2a2d3c;
  --second: #1c1c4a;
  --third: #eff0eb;
}

body {
  background-color: var(--second); /* FIXING SCROLL WITH NAVBAR, TEMPORARILY*/
  color: var(--third);
}

a {
  color: #fff;
}

#only {
  margin: 0;
  padding: 0;
}

/* ************** */

/* NAVBAR PROFILE */

#profile-nav {
  background-color: var(--second);
  position:  fixed;
  display: flex;
  flex-direction: column;
  padding-top: 25vh;
  min-height: 100vh;
  /* TEXT */
  text-align: center;
}

#profile-nav #info {
  flex: 1;
}

#profile-nav footer img {
  height: 35px;
  width: 35px;
  margin: 5px;
}

 #navbar-toggle {
   float: left;
   position: relative;
   left: 10px;
   margin: auto 0;
 }

/* ************** */
/* MAIN BACKGROUND COLOR SET HERE */

#main {
  background-color: var(--main);
  /* margin-left: auto; */
  position:  static;
  padding: 0px;
  min-height: 100vh;
}

#main-content {
  margin: 120px 10px 0px 10px;
}

#key-concepts {
}

/* TABS STYLING */
.tabs-container, ul.tabs {
  position:  static;
  background-color: var(--main-fade);
  padding: 0 !important;
}
.tabs {
  background-color: inherit;
}

.tabs a {
  color: var(--third) !important;
}

.tabs a.active {
  background-color: var(--main) !important;
  border-top: 3px solid var(--third);
}

.tabs .indicator {
  display: none;
  /* background-color: var(--third) !important; */
}

.tabs i.material-icons{ /*ADJUSTS ICONS*/
  margin-top:0.5em;
}

#me .row {
  text-transform: uppercase;
  /* background-color: var(--main-fade); */
  padding: 10px;
  margin-top: 30vh;
  border: 1px solid var(--main);
}



/* ************** */

/* DINAMIC FIELDS */

#profile-subtitle {
  font-size: 10pt;
  color: gray;
  margin: 2px;
}

#profile-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24pt;
}

.me-small {
  text-transform: uppercase;
  font-size: 16pt;
}

.me-big {
  text-transform: uppercase;
  font-size: 22pt;
  font-weight: bold;
}

.me-big-right {
  text-transform: uppercase;
  text-align: right;
  font-size: 24pt;
  font-weight: bold;
}
