:root {
  --main: rgb(34, 36, 48);
  /* OR rgb(43, 29, 48); */
  --second: #1c1c4a;
  /* OR #39004d; */
  --third: #eff0eb;
}

body {
  color: var(--third);
}

#only {
  margin: 0;
  padding: 0;
}

/* ************** */

/* NAVBAR PROFILE */

#profile-nav {
  background-color: var(--second);
  display: flex;
  flex-direction: column;
  padding-top: 25vh;
  min-height: 100vh;
  /* TEXT */
  text-align: center;
}

#profile-nav #info {
  flex: 1;
}

#profile-nav footer img {
  height: 35px;
  width: 35px;
  margin: 5px;
}

/* ************** */
/* MAIN BACKGROUND COLOR SET HERE */

#main {
  background-color: var(--main);
  padding: 0px;
  min-height: 100vh;
}

/* TABS STYLING */
.tabs-container, ul.tabs {
  background-color: #282a36;
  padding: 0 !important;
}
.tabs {
  background-color: inherit;
}

.tabs a {
  color: var(--third) !important;
}

.tabs a.active {
  background-color: var(--main) !important;
  border-top: 3px solid var(--third);
}

.tabs .indicator {
  display: none;
  /* background-color: var(--third) !important; */
}

/* ************** */

/* PROFILE FIELDS */

#profile-subtitle {
  font-size: 10pt;
  color: gray;
  margin: 2px;
}

#profile-name {
  font-weight: bold;
  font-size: 20pt;
}
